body {
    box-sizing: border-box;
    font-family: 'Walter Turncoat', cursive;
}

.game-hand img {
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
}


#machine-img {
    transform: rotate(180deg);
}

#hand-container {
    max-width: fit-content;
}

#start-button {
    width: fit-content;
}

#options img {
    max-width: 200px;
    max-height: 200px;
    aspect-ratio: 1 /1;
}

#options img:hover {
    border:.2em solid black;
    border-radius: 50%;
}


.hide {
    display: none;
}

@media(max-width:1100px)
{
    .game-hand img {
        width: 150px;
        height: 150px;
        margin: 10px;
        border-radius: 6px;
    }
}